* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --fs-title: 2.4rem;
  --fs-p-search-footer: 1.6rem;
  --fs-side-title: 1.8rem;
  --fs-side-p: 1.4rem;

  --sky-300: hsl(195, 43%, 55%);
  --sky-500: hsl(195, 46%, 40%);
  --sky-800: hsl(195, 91%, 25%);
  --black-title: hsl(240, 6%, 13%);
  --black-p: hsl(240, 5%, 7%);
  --white: hsl(0, 0%, 100%);
  
}

header, footer {
  background: var(--sky-500);
  color: var(--white);
}

body {
  background: var(--white);
}

#app {
  /* width: clamp(43rem, 20rem + 80vw, 144rem); */
  /* margin: 0 auto; */

  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'sidebar'
  'footer';
}

header .container, 
header form .input-wrapper, 
main, 
sidebar .posts figure, 
footer {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
}

header, sidebar {
  padding: 1.6rem 2.8rem;
}

header {
  grid-area: header;
}

header .logo {
  width: 4.2rem;
  height: 4.2rem;
}

header .profile {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

form {
  flex: 1;
}

form .input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

form .input-wrapper input {
  width: 100%;
  background: var(--sky-300);
  border-radius: 4px;
  padding: 1.2rem 1.4rem;

  font-size: var(--fs-p-search-footer);
  font-weight: 500;
  border: none;
}

form .input-wrapper input::placeholder {
  color: var(--white);
}


form .input-wrapper input:focus {
  outline: none;
}

main {
  grid-area: main;
}

main img {
  width: 100%;
  object-fit: contain;
}

main .infos {
  padding: 3rem 2.6rem 3.4rem 2.2rem;

  h1 {
    color: var(--black-title);
    font-size: var(--fs-title);
    /*  16px - 100%
        x - 160%
        x = 25,6px */
    line-height: 2.5rem;
    font-weight: bold;
  }

  .button-hands img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;

    padding: 1rem 1.2rem 3rem 0;
    cursor: pointer;
  }

  p {
    color: var(--black-p);
    font-size: var(--fs-p-search-footer);
    line-height: 2.5rem;
  }
}

sidebar {
  grid-area: sidebar;
  
  h2 {
    color: var(--black-title);
    font-size: var(--fs-title);
    font-weight: 700;
    line-height: 2.5rem;
  }
  
  .posts {
    padding-top: 3.2rem;
  }
  
  .posts figure {
    justify-content: start;
    padding-bottom: 3.2rem;
    gap: 1.6rem;

    img {
      width: clamp(10rem, 2rem + 10vw, 15rem);
      height: auto;
      display: flex;
      object-fit: contain;
      align-self: start;
    }

    h3 {
      font-size: var(--fs-side-title);
      padding-bottom: 1.2rem;
    }

    p {
      color: var(--black-p);
      font-size: var(--fs-side-p);
      line-height: 2rem;
    }
  }
}

footer {
  grid-area: footer;
  font-size: var(--fs-p-search-footer);
  padding: 1.6rem 2.4rem;
  justify-content: center;
}

@media (min-width: 1000px) {
  #app {
    grid-template-areas: 
    'header header'
    'main sidebar'
    'footer footer'
    ;
    
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 60% 40%;
  }

  header, sidebar {
    padding-block: 1.6rem;
    padding-inline: clamp(3rem, 0.5rem + 6vw, 11.2rem);
  }

  main {
    padding-block: 4rem;
    padding-inline: clamp(3rem, 0.5rem + 6vw, 11.2rem) 0;

    .infos {
      padding: 3rem 0 4rem;

      .infos-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3rem;
      }

      .button-hands img {
        padding: 0 0.2rem 0 1.2rem;
      }
    }
  }

  sidebar {
    padding-block: 4rem;
    /* padding: 4rem 11.2rem 4rem 3.4rem; */
    padding-inline: 3.4rem clamp(3rem, 0.5rem + 6vw, 11.2rem);
  }
}
