* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 250;
  --bg-dark: hsl(var(--hue), 22%, 20%);
  --bg-light: hsl(var(--hue), 0%, 100%);
  --text-violet: hsl(var(--hue), 50%, 80%);
  --text-white: hsl(var(--hue), 0%, 100%);
  --text-black: hsl(var(--hue), 100%, 11%);

  font-size: 62.5%; /* 1rem = 10px */ /*font-family */
  --ff-primary: 'Epilogue', sans-serif;
   /*font-size */
  --fs-body: 1.6rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: center;
}

.page {
  max-width: clamp(33rem, 20rem + 80vw, 117rem);
  margin: 0 auto;
  padding: 0 4rem;
}

header {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: topdown 700ms;
}

header p {
  color: var(--text-violet);
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-block: 10.6rem 1.7rem;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;

  margin-bottom: 8rem;
}

main {
  display: grid;
  gap: 3.2rem;
  margin-bottom: 10rem;
  
  /* animation: downtop 700ms 350ms backwards;   */
}

.card {
  position: relative;
}

.card:nth-child(2n+1) {
  animation: leftright 700ms;
}

.card:nth-child(2n) {
  animation: rightleft 700ms;
}

img {
  width: 100%;
  height: auto;
}

.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  filter: brightness(0.8);

  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.06);
  /* opacity: 0.4; */
  filter: brightness(1);
}

.card h2 {
  position: absolute;
  left: 2.8rem;
  bottom: 5.2rem;

  font-size: var(--fs-heading-sm);
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  background-color: var(--bg-light);
  color: var(--text-black);
  padding: 0 1.6rem;
  border-radius: 2rem;
  
  font-size: var(--fs-body);
  font-weight: 400;
  
  width: fit-content;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftright {
  0% {
    opacity: 0;
    transform: translateX(-50px)

  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightleft {
  0% {
    opacity: 0;
    transform: translateX(50px)
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-areas: "A B B"
                        "C C D"
                        "E F F";
  }
  
  .card:nth-child(1) {
    grid-area: A;
  }

  .card:nth-child(2) {
    grid-area: B;
  }

  .card:nth-child(3) {
    grid-area: C;
  }

  .card:nth-child(4) {
    grid-area: D;
  }

  .card:nth-child(5) {
    grid-area: E;
  }

  .card:nth-child(6) {
    grid-area: F;
  }
}
