* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;

  background: #ddddec;
  margin-bottom: 120px;
}

body::before {
  content: "";

  background: #2c2140;
  width: 100%;
  min-height: 498px;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
  
}

header {
  margin-top: 107px;

  text-align: center;
  color: #FFF;
}

h1, legend, button {
  font-family: 'Staatliches', cursive;
}

header h1 {
  font-size: 36px;
  line-height: 45px;
}

header p {
  font-size: 16px;
  line-height: 24px;
}

header img {
  margin: 48px 0 32px 0;
}

.form-header {
  min-height: 133px;
  background: #F67669;
  border-radius: 20px 20px 0 0;
}

legend {
  font-size: 24px;
  line-height: 34px;
}

.form-header legend {
  padding: 50px 0;

  text-align: center;
  color: #FFFFFF;
}

form {
  background: #FFFFFF;  
  padding: 32px 64px 0 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper .fieldset-names, 
.fieldset-wrapper .fieldset-mentor {
  width: 100%;

  display: flex;
  gap: 22px;
}

.fieldset-names .name, 
.fieldset-names .last-name 
.fieldset-mentor .mentor-select,
.fieldset-mentor .mentor-range {
  width: 50%;
}

.fieldset-wrapper legend {
  color: #253B51;
  text-align: center;
  border-bottom: 1px solid #E6E6F0;
  
  margin: 32px 0;
  padding-bottom: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper label, 
#checkbox-wrapper label,
#range-wrapper label {
  margin-bottom: 8px;
}

.input-wrapper label span{
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}

.input-wrapper label span:hover {
  color: #8f8e92;
}

.input-wrapper input, select, textarea {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  
  padding: 15px;
}

.input-wrapper input, select {
  height: 50px;
  margin-bottom: 20px;
}

.input-select select {
  cursor: pointer;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-range input {
  width: 70%;
}

.only-range {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper textarea {
  margin-bottom: 30px;
}

#checkbox-wrapper {
  position: relative;
}

#checkbox-wrapper input {
  position: absolute;

  width: 24px;
  height: 24px;
  opacity: 0;
}

#checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
}

#checkbox-wrapper label::before {
  content: "";
  
  width: 24px;
  height: 24px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

#checkbox-wrapper input:checked + label::before {
  background-image: url("https://i.postimg.cc/zvyVvPzp/check-mark.png");
  background-position: center;
}

#checkbox-wrapper input:focus + label::before {
  outline: 2px solid #000;
}

.fieldset-agenda {
  display: flex;
  gap: 10px;
}

.fieldset-agenda .date {
  width: 40%;
  margin-right: 10px;
}

.fieldset-agenda .horario {
  width: 25%;
}

.fieldset-agenda input {
  cursor: pointer;
}

#event-date:required:invalid::-webkit-datetime-edit,
#event-begin:required:invalid::-webkit-datetime-edit,
#event-end:required:invalid::-webkit-datetime-edit {
  opacity: 0;
}

#event-date:focus::-webkit-datetime-edit,
#event-begin:focus::-webkit-datetime-edit,
#event-end:focus::-webkit-datetime-edit {
  opacity: 1;
}

#btn-salvar {
  background: #FFF;  
  border-radius: 0 0 20px 20px;

  padding: 0 64px;
}

button {
  width: 100%;
  background: #F67669;
  
  color: #FFF;
  font-size: 20px;
  line-height: 26px;
  
  border: none;
  border-radius: 8px;
  
  margin: 45px 0 65px 0;
  padding: 13px 0;
  cursor: pointer;
}

button:hover {
  width: 100%;
  background: #de6a5e;
}

input:invalid, select:invalid, textarea:invalid {
border: 1px solid #F67669;
}