* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
padrão dos browser é 16px 
para 1 rem corresponder a 10px faz
16px = 100%
10px = x   =>  1000 / 16  => 62,5 %
*/
:root {
  font-size: 62,5%;  /* 1rem = 10px */
}

body {
  background: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 800;
  color: #090039;

  margin-bottom: 1.5rem;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

main p:first-child {
  color: #7158ef;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 3.2rem;

  margin-bottom: 1.7rem;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color: #090039;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style: none;
  margin-top: 7.2rem;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;

  max-width: 25.7rem;

  display: flex;
  gap: 3.5rem;
}

/*pega todo li q tenha anterior a ele outro li */
ul li + li {
  margin-top: 3.2rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;

  min-width: 4.5rem;
  color: #090039;
}

@media (min-width: 1024px) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1800px;

    display: flex;
    gap: 10rem;
    justify-content: center;
    margin: 0 auto;
  }

  main > div {
    max-width: 900px;
  }

  ul {
    margin: 6rem auto;
  }

  ul li {
    gap: 2.3rem;
    max-width: 900px;
    align-items: center;
  }
}
