* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-style: 62.5%;
  --ff-p: 'Palanquin', sans-serif;
  --ff-titles: 'Staatliches', cursive;
  --fs-title: clamp(3rem, 0.5rem + 10vw, 3.4rem);
  --fs-title-h2: clamp(2rem, 0.5rem + 4vw, 3rem);
  --fs-p-tag: clamp(1rem, 0.3rem + 1vw, 1.5rem);

  --hue: 233;
  --bg-body: hsl(var(--hue), 100%, 97%);
  --bg-header: hsl(calc(var(--hue) - 15), 17%, 62%);
  --bg-title: hsl(calc(var(--hue) + 42), 18%, 79%);
  --bg-tags: hsl(calc(var(--hue) + 79), 91%, 96%);
  --bg-flavors: hsl(calc(var(--hue) + 73), 16%, 50%);
  --font-title-h1-h2: hsl(calc(var(--hue) - var(--hue)), 0%, 100%);
  --font-p: hsl(calc(var(--hue) + 41), 84%, 12%);
  --font-tags: hsl(calc(var(--hue) - 1), 17%, 35%);
  --font-footer: hsla(hsl(var(--hue), 17%, 35%, 1));

}

body {
  background: var(--bg-body);
  text-align: center;
}

.page {
  max-width: clamp(38.4rem, 20rem + 80vw ,117rem);
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  background: var(--bg-header);
  padding-bottom: 2rem;
}

header img {
  width: clamp(5rem, 3rem + 20vw, 12rem);
  height: auto;
  margin-block: 3.2rem 1.5rem;
}

h1, h2, h3 {
  font-family: var(--ff-titles);
  text-transform: uppercase;
  font-weight: 400;
}

header h1 {
  background: var(--bg-title);
  color: var(--font-title-h1-h2);

  font-size: var(--fs-title);
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 0.2rem 0.5rem;
}

header #p-desktop {
  /* visibility: hidden;  element presente, apenas oculto*/
  display: none;
}

main #p-mobile,
main #cards {
  margin-inline: clamp(2rem, 0.5rem + 1vw, 15rem);
}

main #p-mobile {
  color: var(--font-p);
  font-family: var(--ff-p);
  font-size: var(--fs-p-tag);
  font-weight: 400;
  line-height: 1.8rem;

  margin-block: 2em;
}

#cards {
  margin-bottom: 3rem;
}

.card  {
  position: relative;
  margin-bottom: 1rem;
}

.card img {
  object-fit: cover;
  border-radius: 2rem;

  animation: downtop 0.5s;
  filter: brightness(0.8);
}

.card img:hover {
  filter: brightness(1);
}

.card h3 {
  color: var(--font-tags);
  font-size: var(--fs-p-tag);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  transition: all 200ms;
}

.card h3 span {
  background: var(--bg-tags);
  overflow: hidden;
  border-radius: 2rem;
  padding-inline: 2.4rem;

  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: topdown 0.8s;
}

.flavors {
  background: var(--bg-flavors);
  padding-block: 2.5rem 4rem;
}

.flavors h2 {
  color: var(--font-title-h1-h2);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: var(--fs-title-h2);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  padding-bottom: 1rem;
}

.flavors .slider {
  overflow:hidden;
	position: relative;

  height: 140px;
  margin: 0 2rem;
}

.flavors .slider::before,
.flavors .slider::after {
  background: linear-gradient(90deg, rgba(148,107,144,0) 0%, rgba(148,107,144,0.5) 30%, rgba(148,107,144,1) 100%);
  content: "";
  position: absolute;
  width: 30px;
  height: 140px;
  z-index: 2;
  right: 0;
  top: 0;
}

.flavors .slider::after {
  transform: rotateZ(180deg);
  content: "";
  position: absolute;

  left: 0;
}

.flavors .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.flavors .tooltip {
  display: inline-flex;
  align-items: center;

  position: relative;
  width: 160px;
  height: 150px;
}

.flavors .tooltiptext {
  background: hsla(0, 1%, 44%, 0.7);
  color: var(--font-title-h1-h2);
  font-size: var(--bg-tags);
  padding: 10px 20px;
  border-radius: 20px;

  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
  position: absolute;
}

.flavors .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.flavors img{
  width: 130px;
  height: 130px;
  border-radius: 100%;

  object-fit: cover;
}

footer p {
  display: none;
}

@keyframes topdown {
  from {
    transform: translateY(-110px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes downtop {
  from { transform: translateY(80px) }
  to { top: translateY(0) }
}

@keyframes scroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(calc(-220px * 8))
    /* transform: translateX(-900px) */
  }
}

@media (min-width: 700px) {
  @keyframes scroll {
    100% {
      transform: translateX(calc(-100px * 18))
    }
  }

  main #p-mobile {
    padding-inline: 4rem;
  }
  
  #cards {
    column-count: 2;
    column-gap: 1rem;
    gap: 1.5rem;
    padding-inline: clamp(1rem, 0.5rem + 10vw, 4rem);
    margin-bottom: 0;
  }

  img {
    height: clamp(15rem, 2rem + 10vw, 24rem);
  }

  .card {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
    break-inside: avoid;
  }

  .card img {
    /* height: clamp(12rem, 5rem + 30vw, 40rem);
    object-fit: cover; */
    grid-row: 1 / -1;
    grid-column: 1;
  }

  .flavors .slider::before,
  .flavors .slider::after {
    width: 90px;
  }
}

@media (min-width: 1100px) {
  .page {
    background: var(--bg-flavors);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "head main"
      "head foot";
  }

  .page > header {
    grid-area: head;
    padding: 0;
  }

  header img {
    width: clamp(1rem, 7rem + 30vw ,12rem);
    height: auto;
    margin: 3.2rem auto;
    border-radius: 20px;

    
  }

  header #p-desktop {
    display: block;
    background-color: var(--bg-header);
    color: var(--font-title-h1-h2);
    font-family: var(--ff-p);
    font-size: var(--fs-p-tag);
    font-weight: 400;
    line-height: 1.9rem;

    padding-block: 2.8rem;
    padding-inline: clamp(1rem, 0.1rem + 4vw, 4rem);
  }

  .page > main {
    background-color: var(--bg-body);
    grid-area: main;
    padding-top: 2.5rem;
    margin: 0;
  }
  
  main #p-mobile {
    display: none;
  }

  #cards {
    column-count: 3;
    column-gap: clamp(0.5rem, 0.1rem + 10vw, 1rem);
    padding-inline: clamp(0.1rem, 0.1rem + 3vw, 4rem);
  }

  .card {
    margin-bottom: clamp(0.5rem, 0.1rem + 10vw, 1rem);
  }

  img {
    max-width: 100%;
    display: block;
  }

  .card img {
    grid-row: 1 / -1;
    grid-column: 1;

    height: clamp(15rem, 2rem + 15vw, 30rem);
  }

  .flavors {
    padding-bottom: 2rem;
  }

  .page > footer {
    grid-area: foot;
    background-color: var(--bg-flavors);

    display: flex;
    align-self: center;
    justify-content: center;
    height: auto;
  }

  footer p {
    color: var(--font-title-h1-h2);
    padding: 2rem;
    
    display: block;
  }

  footer p a {
    color: var(--font-p);
    text-decoration: none;
  }
}








