* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-style: 62.5%;
  --ff-p: 'Palanquin', sans-serif;
  --ff-titles: 'Staatliches', cursive;
  --ff-footer: 'Open Sans', sans-serif;
  --fs-title: clamp(3rem, 0.5rem + 10vw, 3.4rem);
  --fs-title-h2: clamp(2rem, 0.5rem + 4vw, 3rem);
  --fs-p-tag: clamp(1rem, 0.3rem + 1vw, 1.5rem);

  --hue: 233;
  --bg-body: hsl(var(--hue), 100%, 97%);
  --bg-header: hsl(calc(var(--hue) - 15), 17%, 62%);
  --bg-header-desktop: hsl(calc(var(--hue) + 37), 16%, 35%);
  --bg-title: hsl(calc(var(--hue) + 73), 36%, 29%);
  /* --bg-title: hsl(calc(var(--hue) + 42), 18%, 79%); */
  --bg-tags: hsl(calc(var(--hue) + 79), 91%, 96%);
  --bg-flavors: hsl(calc(var(--hue) + 73), 16%, 50%);
  --font-title-h1-h2: hsl(calc(var(--hue) - var(--hue)), 0%, 100%);
  --font-p-mobile: hsl(calc(var(--hue) + 41), 84%, 12%);
  --font-tags: hsl(calc(var(--hue) - 1), 17%, 35%);
  --font-footer: hsla(hsl(var(--hue) + 67), 27%, 78%);

  --flavor-number: 12;
  --flavor-width: 160px;
  --flavor-width-animation: -160px;
  --flavor-numb-wid: calc(
    var(--flavor-number) * var(--flavor-width)
  );
  --flavor-numb-wid-animation: calc(
    var(--flavor-number) * var(--flavor-width-animation)
  );
}

body {
  background: var(--bg-body);
  text-align: center;
}

.page {
  height: 100vh;
  max-width: clamp(38.4rem, 20rem + 80vw ,117rem);
}

img {
  width: 100%;
  height: auto;
}

header {
  background: var(--bg-header);
  padding-bottom: 2rem;
}

header img, svg {
  width: clamp(5rem, 3rem + 20vw, 12rem);
  height: auto;
  margin-block: 3.2rem 1.5rem;
  animation: StretchLogo 3s linear infinite;
}

#logo-mobile:hover {
  transform: skewY(4deg);
}

#logo-desktop {
  display: none;
}

h1, h2, h3 {
  font-family: var(--ff-titles);
  text-transform: uppercase;
  font-weight: 400;
}

header h1 {
  background: var(--bg-title);
  color: var(--font-title-h1-h2);

  font-size: var(--fs-title);
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 0.2rem 0.5rem;
}

header #p-desktop {
  /* visibility: hidden;  element presente, apenas oculto*/
  display: none;
}

main #p-mobile,
main #cards {
  margin-inline: clamp(0.1rem, 0.1rem + 10vw, 20rem);
}

main #p-mobile {
  color: var(--font-p-mobile);
  font-family: var(--ff-p);
  font-size: var(--fs-p-tag);
  font-weight: 400;
  line-height: 1.8rem;

  margin-block: 2rem;
}

.card  {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 2rem;
  
  animation: FadeInTop 700ms;

  overflow: hidden;
}

.card img {
  object-fit: cover;
  border-radius: 2rem;
  
  filter: brightness(0.8);
  transition: all 400ms;
}

.card img:hover {
  filter: brightness(1);

    /* assim transborda o tamanho da img */
  transform: scale(1.2);
  cursor: pointer;
  /* add o overflow hidden no card da zoom na imagem sem transbordar */
}

.card h2 {
  color: var(--font-tags);
  font-size: var(--fs-p-tag);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  position: absolute;
  top: 1.6rem;
  right: 1.8rem;

  transition: FadeInTop 200ms;
}

.card h2 span {
  background: var(--bg-tags);
  overflow: hidden;
  border-radius: 2rem;
  padding-inline: 2rem;

  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: FadeInDown 700ms 350ms backwards;
}

.flavors {
  background: var(--bg-flavors);
  width: 100%;
  padding-block: 1.6rem 3rem;
}

.flavors h3 {
  color: var(--font-title-h1-h2);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: var(--fs-title-h2);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  padding-bottom: 1rem;
}

/* MODIFICAÇÕES A PARTIR DAQUIIIIIIIIIIIIIIIIIIIIIIIIII */
.flavors .slider {
  overflow: hidden;
	position: relative;

  height: 140px;
  margin: 0 2rem;

  display: flex;
}

.flavors .slider::before,
.flavors .slider::after {
  background: linear-gradient(90deg, rgba(148,107,144,0) 0%, rgba(148,107,144,0.5) 30%, rgba(148,107,144,1) 100%);
  content: "";
  position: absolute;
  width: 30px;
  height: 140px;
  z-index: 2;
  right: 0;
  top: 0;
}

.flavors .slider::after {
  transform: rotateZ(180deg);
  content: "";
  position: absolute;

  left: 0;
}

.flavors .slide-track {
  animation: ScrollFlavors 30s linear 0s infinite backwards;
  animation-duration: 72s;
  display: flex;
  width: var(--flavor-numb-wid);

}

.flavors .tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: var(--flavor-width);
  height: 150px;
}

.flavors .tooltiptext {
  background: hsla(0, 1%, 44%, 0.7);
  color: var(--font-title-h1-h2);
  font-size: var(--bg-tags);
  padding: 10px 20px;
  border-radius: 20px;

  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
  position: absolute;
}

.flavors .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.flavors img {
  width: 120px;
  height: 120px;
  border-radius: 100%;

  object-fit: cover;
}

footer p {
  display: none;
}

@keyframes FadeInDown {
  from {
    transform: translateY(-15px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes FadeInTop {
  from { transform: translateY(15px) }
  to { top: translateY(0) }
}

@keyframes ScrollFlavors {
  from { transform: translateX(0) }
  to { transform: translateX(var(--flavor-numb-wid-animation)) }
}

@keyframes StretchLogo {
  0% { transform: skewY(0deg) }
  20% { transform: skewY(8deg) }
  40% { transform: skewY(10deg) }
  60% { transform: skewY(-10deg) }
  80% { transform: skewY(-8deg) }
  100% { transform: skewY(0deg) }
}

@keyframes SliderInHeader {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  main #p-mobile {
    padding-inline: 2.8rem;
  }
  
  #cards {
    column-count: 2;
    column-gap: 1rem;
    gap: 1.5rem;
    padding-inline: clamp(0rem, 0.5rem + 1vw, 10rem);
    margin-bottom: 3.5rem;
  }

  .card {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
    break-inside: avoid;
  }

  #cards .card:nth-child(1)  {
    animation-delay: 50ms;
  }
  #cards .card:nth-child(2)  {
    animation-delay: 250ms;
  }
  #cards .card:nth-child(3)  {
    animation-delay: 450ms;
  }
  #cards .card:nth-child(4)  {
    animation-delay: 650ms;
  }
  #cards .card:nth-child(5)  {
    animation-delay: 850ms;
  }
  #cards .card:nth-child(6)  {
    animation-delay: 1050ms;
  }
  #cards .card:nth-child(7)  {
    animation-delay: 1250ms;
  }
  #cards .card:nth-child(8)  {
    animation-delay: 1450ms;
  }

  .card img {
    grid-row: 1 / -1;
    grid-column: 1;
    height: 17rem;
  }
  
    .card h2 {
      top: 1.6rem;
      right: 1rem;
    }

  .flavors .slider::before,
  .flavors .slider::after {
    width: 90px;
  }

}

@media (min-width: 1100px) {
  .page {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "head main"
      "head foot";
  }

  .page > header {
    background-color: var(--bg-header-desktop);
    grid-area: head;

    position: fixed;
    width: clamp(10rem, 1.6rem + 29vw, 35.2rem);

    height: 80.3rem;
    animation: SliderInHeader 700ms 20ms backwards;
  }

  header img {
    width: clamp(1rem, 7rem + 6vw ,12rem);
    height: auto;
    margin: 3rem auto;
    border-radius: 20px;
  }

  #logo-mobile {
    display: none;
  }
  #logo-desktop {
    display: block;
  }

  header #p-desktop {
    display: block;
    color: var(--font-title-h1-h2);
    font-family: var(--ff-p);
    font-size: var(--fs-p-tag);
    font-weight: 400;
    line-height: 1.8rem;

    padding-block: 2.8rem;
    padding-inline: clamp(0.8rem, 0.1rem + 4vw, 4rem);
  }

  .page > main {
    background-color: var(--bg-body);
    grid-area: main;
    padding-top: 2.3rem;
    margin: 0;
    height: fit-content;
  }
  
  main #p-mobile {
    display: none;
  }

  main #cards {
    column-count: 3;
    column-gap: clamp(0.5rem, 0.1rem + 10vw, 1rem);
    padding-inline: 0;
    margin-inline: clamp(0.1rem, 0.1rem + 6vw, 10rem);

    left: 1rem;
    position: relative;
  }

  .card {
    margin-bottom: 1.2rem;
  }

  img {
    display: block;
  }

  .card img {
    grid-row: 1 / -1;
    grid-column: 1;
    height: auto;
    border-radius: 2rem;
  }

  .card img:hover {
    border-radius: 3rem;
  }
  
  .card h2 {
    position: absolute;
    top: 1rem;
    right: clamp(0.1rem, 0.1rem + 5vw, 1rem);
  }
  
  .flavors {
    padding: 0 0 2rem 1rem;
    
    display: flex;
    justify-content: center;
  }

  .flavors .slider {
    height: 130px;
  }

  .flavors h3 {
    align-self: center;
    margin-inline: 2rem;
  }

  .flavors img {
    width: 110px;
    height: 110px;
  }

  footer {
    font-family: var(--ff-footer);
    font-weight: 400;
    line-height: 2.8rem;
    background-color: var(--bg-flavors);
    color: var(--font-footer);
    border-top: 1px rgb(172, 140, 172) solid;
    
    grid-area: foot;
    display: flex;
    justify-content: center;
    height: auto;
  }

  footer p {
    font-size: clamp(0.1rem, 0.3rem + 1vw, 1.12rem);
    padding-bottom: 0.51rem;
    
    display: block;
  }

  footer p a {
    color: var(--font-p);
    font-weight: bold;
    text-decoration: none;
    margin: auto;
  }
}
