/* PAGE EXPLORER */

.page {
  width: 100vw;
  height: 100vh;
  background: url(../assets//mountains-universe-3.png) no-repeat;
  background-size: cover;
  background-position: bottom;
}

#mainExplorer {
  color: var(--color-h1-h2-p);
  max-width: 65rem;
  padding-inline: clamp(3rem, 0.1rem + 9vw, 12rem);
  margin-top: clamp(0.1rem, 0.1rem + 7vh, 7rem);

  align-items: start;
}

#h2Explorer {
  font-size: var(--fs-h1-h2);
  padding-bottom: 1.6rem;
}

#pExplorer {
  font-size: var(--fs-p);
  font-weight: 400;
  line-height: 3rem;
  
  margin-bottom: 2.5rem;
  padding: 0 0.5rem;
}
