* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: hsl(0, 0%, 100%);
  --bg-main: hsla(226, 6%, 42%, 0.54);
  --fc-btn-notSelected: hsl(240, 6%, 21%);
  --fc-btn-selected: hsl(0, 0%, 100%);
  --bg-btn-notSelected: hsl(240, 9%, 89%);
  --bg-btn-selected-tree: hsl(97, 58%, 50%);
  --bg-btn-selected-cloud: hsl(194, 97%, 31%);
  --bg-btn-selected-shop: hsl(55, 82%, 56%);
  --bg-btn-selected-fire: hsl(0, 72%, 50%);

  --bg-dark-mode: hsla(295, 15%, 16%, 0);

  --circle-volume-bg: hsl(285, 67%, 60%);
  --circle-volume-bg-hover: hsl(35, 100%, 50%);
  --circle-volume-border: hsl(0, 1%, 26%);

  font-size: 52.5%;
}

body {
  height: 100vh;
  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  /* width: 100vw; */
  width: fit-content;
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  /* height: 100vh; */
  height: fit-content;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-block: 4rem;
  /* padding-inline: clamp(0.1rem, 0.1rem + 1vw, 1rem); */
  margin-inline: 2rem;

  position: relative;
  background-color: var(--bg-main);
  border-radius: 2.4rem;

}

.dark-mode {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  padding: 1rem;
  background-color: var(--bg-dark-mode);
  border-radius: 50%;
  
  border: none;
  cursor: pointer;
}

.dark-mode dark,
.dark-mode light {
  background-color: var(--bg-dark-mode);
}

.dark-mode svg:hover {
  transform: scale(1.1);
  transition: all 400ms;
}

.container-timer,
.container-sounds {
  width: clamp(29rem, 1rem + 10vw, 32rem);
}

#timer,
#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  padding-bottom: 1rem;
}

#timer h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size:  10rem;
  line-height: 13rem;
  filter: drop-shadow(0.14rem 0.1rem 0.5rem var(--bg-btn-notSelected));
}

.hide {
  display: none;
}

#controls {
  gap: 1.5rem;
}

#controls button {
  background: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--bg-btn-notSelected));
}

.container-sounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.container-sounds button {
  width: 11.5rem;
  height: 12.5rem;
  border-radius: 2.4rem;
  border: none;
  cursor: pointer;
}

.container-sounds button:hover {
  transform: scale(1.1);
}

.container-sounds svg {
  width: 4rem;
  height: 5rem;
  margin-top: -1rem;
}

.container-sounds button path {
  fill: var(--fc-btn-notSelected)
}

.card {
  position: relative;
}

.slide-volume {
  margin-left: 1.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  position: absolute;
  bottom: 2rem;
}

input {
  width: 75%;
  height: 0.5rem;
  cursor: w-resize;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(2, 0, 0) 100%);
  border-radius: 0.5rem;
  opacity: 0.7;
  margin-top: 1.5rem;
}

/* custom thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  background: var(--circle-volume-bg);
  border: var(--circle-volume-border) 0.5rem solid;
  cursor: grab;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--circle-volume-bg-hover);
}

input[type="range"]::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 50%;
  background: var(--circle-volume-bg);
  border: var(--circle-volume-border) 0.5rem solid;
  cursor: grab;
  transition: background .15s ease-in-out;
}
input[type="range"]::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-thumb:hover {
    background: var(--circle-volume-bg-hover);
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

.selected {
  background: var(--bg-btn-selected)
}
.selected svg path {
  fill: var(--fc-btn-selected)
}

@media (min-width: 501px) and (max-width: 759px) {
.container-timer,
.container-sounds {
  width: 35rem;
}

  #timer h2 {
    font-size:  11rem;
    line-height: 14.7rem;
  }

  #controls {
    gap: 2.3rem;
  }
  
  .container-sounds {
    gap: 2.5rem;
  }

  .container-sounds button {
    width: 12.5rem;
    height: 13.5rem;
  }

  .container-sounds svg {
    width: 4.2rem;
    height: 5.3rem;
  }
}

@media (min-width: 760px) {
  .container {
    flex-direction: row;
    gap: clamp(3rem, 0.1rem + 3vw, 6rem);
    padding-inline: clamp(2rem, 1rem + 1vw, 5rem);
  }

  .container-timer,
  .container-sounds {
    width: 35rem;
  }

  .dark-mode {
    margin: 6rem;
  }
  
  #timer {
    padding-bottom: 2rem;
  }

  #timer h2 {
    font-size:  12.6rem;
    line-height: 14.7rem;
  }

  #controls {
    gap: 3.4rem;
  }

  .container-sounds button {
    width: 13.8rem;
    height: 15.2rem;
  }
  
  .container-sounds svg {
    width: 4.4rem;
    height: 5.6rem;
  }
}