* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --fs-title: 3.2rem;
  --fs-h3: 2.9rem;
  --fs-subtitle: 2rem;
  --fs-text: 1.6rem;
  --fs-summit: 1.4rem;

  --background-primary: #F9F4FB;
  --background-secondary: linear-gradient(96.21deg, #3376DB 0%, #302C63 99.68%);
  --color-title: #B52184;
  --color-text: #312D64;
}

h1, h2, h3 {
  color: var(--color-title);
  font-weight: 900;
}

h1, h2 {
  font-size: var(--fs-title);
}

header p, footer p {
  font-size: var(--fs-subtitle);
}

main .cards,
main .contact .input-wrapper button,
footer {
  background: var(--background-secondary);
  color: var(--background-primary);
}

body,
main .card,
main .input-wrapper input,
main .input-wrapper input::placeholder,
main .input-wrapper textarea,
main .input-wrapper textarea::placeholder {
  font: 600 var(--fs-text) "Mulish", sans-serif;
  user-select: none;
  background: var(--background-primary);
  color: var(--color-text);
}

button {
  all: unset;
  cursor: pointer;
}

#app {
  margin: 0 auto;

  display: grid;
  grid-template-areas:
  'hero'
  'main'
  'footer'
  ;
}

header {
  grid-area: 'hero';
  justify-items: center;

  background: url(./assets/astronaut.png) no-repeat;
  background-position: top center;
  background-size: 36.4rem;

  padding-top: 37rem;
}

header .content {
  justify-items: center;
  padding-block: 1.7rem 9.3rem;

  h1 {
    padding-bottom: 0.5rem;
  }

  .main-btn img {
    margin-top: 3.5rem;
    transition: scale 0.3s ease-in-out;
  }

  .main-btn:hover {
    filter: hue-rotate(280deg);
    scale: 1.02;
  }
}

main {
  grid-area: 'main';
}

main .cards {
  padding: 5.3rem 3.9rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(35.2rem, 36.6rem));

  gap: 5rem;
}

main .card {
  border-radius: 2rem;
  padding: 2.6rem 6rem 2.6rem 2.6rem;

  transition: box-shadow 0.7s ease-in-out;

  .card-img {
    max-width: 8rem;
    max-height: 8rem;
  }

  h3 {
    font-size: var(--fs-h3);
    padding-block: 2.4rem 2rem;
  }
}

main .card:hover {
  box-shadow: 2px 3px 19px 0px var(--background-primary);
  -webkit-box-shadow: 2px 3px 19px 0px var(--background-primary);
  -moz-box-shadow: 2px 3px 19px 0px var(--background-primary);
}

main .contact {
  width: 35.2rem;
  margin: auto;
  padding-block: 7.8rem 6.5rem;

  h2 {
    padding-bottom: 4.3rem;
  }
}

main .contact .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  border: 1.5px solid var(--color-text);
  border-radius: 1.6rem;
  padding-inline: 1.4rem;
  margin-bottom: 2.4rem;

  .input-icon {
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;

    margin-right: 1.2rem;
  }

  label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }
}

main .input-wrapper input,
main .input-wrapper textarea,
main .input-wrapper button {
  width: 100%;
  height: 100%;
  padding-block: 1.2rem;

  border: none;
}

main .input-wrapper input:focus,
main .input-wrapper textarea:focus {
  outline: none;
}

main .input-wrapper:last-child {
  width: fit-content;
  overflow: hidden;

  padding-inline: 0;
  margin-top: 9rem;
}

main .input-wrapper button {
  width: auto;
  font-size: var(--fs-summit);
  padding-inline: 1.4rem;
  transition: filter,scale 0.5s ease-out;
}

main .input-wrapper button:hover {
  filter: hue-rotate(20deg);
  scale: 1.02;
}

footer {
  grid-area: 'footer';
  width: 100%;

  justify-items: center;

  padding: 3.2rem;
  margin: auto;
}

@media (min-width: 870px) {
  main .contact {
    width: auto;
    padding-left: 16rem;

    background: url(./assets/background.png) no-repeat right;
  }

  main .contact .input-wrapper {
    width: 50.5rem;
  }

  main .input-wrapper:last-child {
    width: fit-content;
  }
}

@media (min-width: 1291px) {
  :root {
    --fs-title: 5.8rem;
    --fs-h2: 4.2rem;
    --fs-h3: 3.5rem;
    --fs-subtitle: 3.2rem;
    --fs-text: 2rem;
    --fs-input: 1.6rem;
  }

  h2 {
    font-size: var(--fs-h2);
  }

  header p {
    font-size: var(--fs-subtitle);
  }

  footer p {
    font-size: var(--fs-text);
  }

  header {
    width: 120rem;
    justify-self: center;

    background-position: top right;
    background-size: 71rem;

    padding: 0;
    margin-inline: 4rem;
  }

  header .content {
    width: 100%;
    justify-items: start;
    margin-right: 2.8rem;
    padding-block: 31.2rem 13.6rem;


    button {
      margin-top: 18rem;
    }
  }

  main .cards {
    display: grid;
    justify-items: center;

    padding-inline: 15rem;
  }

  main .input-wrapper button {
    font-size: var(--fs-input);
  }
}


  header {
    animation: moveBackground 900ms;
  }

  main .card:first-child {
    animation: showCards 900ms 0.5s;
  }

  main .card:nth-child(2) {
    animation: showCards 900ms 1s;
  }

  main .card:last-child {
    animation: showCards 900ms 1.5s;

  }

  @keyframes moveBackground {
    from {
      background-position-y: -500%;
    }
  }

  @keyframes showCards {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: scale(1.02);
    }
  }
