* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 20%, 92%);
  --primary-color: hsl(var(--hue), 100%, 63%);
  --controls-bg-color: hsl(var(--hue), 0%, 14%);
  --button-secondary: hsl(var(--hue), 40%, 98%);
}

html.light {
  --bg-color: hsl(var(--hue), 20%, 92%);
  --text-color: hsl(var(--hue), 5%, 7%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

.no-select {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;

  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
  cursor: pointer;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  height: 100vh;
  place-content: center;
}

#app {
  display: grid;
  justify-items: center;
  align-self: end;
}

.flex{
  display: flex;
}

#timer {
  font-size: 9.6rem;
  font-weight: bold;
}

#controls {
  background: var(--controls-bg-color);
  border-radius: 9999px;

  margin-top: 1.6em;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
}

/* controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}

button {
  background: transparent;
  color: var(--primary-color);
  border: 0;

  cursor: pointer;

  font-size: 6.4rem;
}

.secondary {
  color: var(--button-secondary)
}
